body{
    
}

.login{
    float:right;
    margin-right: 1%;
}

.form-login{
    margin-top:35px;
    margin-right:1%;
    background-color:#181717;
    height:150px;
    width: 200px;
    position:relative;
    z-index:100;
    float:right;
    border-radius:5px;
    display:none;
}

.form-login input{
    width:80% !important;
    margin-top:10px;
    border-radius:5px;
}

.form-login button{
    width:40%;
}

.login:hover {
    color:white;
}

.btn-cadastro{
    width:80% !important;
    display:none;
    height:40px;
}

.menu-lateral{
    width:10%;
    height:100%;
    background-color:#181717;
    position:fixed;
    margin-left: 90%;
    z-index: 999;
    display:none;

}

h1{
    color:white !important;
}

.btn{
    font-size:12px;
}

.btn-sair{  
    margin-top:200px;
    
    
    
    
}